<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap 实例 - 响应式的导航栏</title>
    <!--编辑界面 start-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/summernote/0.8.11/summernote.min.js"></script>
    <!--编辑界面 end-->
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>

</head>
<body>



<!--编辑界面 start-->
<div class="container">
    <div class="row">
        <div class="col-md-8">
                <div class="edit-area" id=""></div>
        </div>
        <div class="col-md-2">
            <div class="edit-tool" >
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">信息内容</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="tool_title">标题</label>
                                <input type="text" class="form-control tooltip-show" id="tool_title"
                                       placeholder="请输入发布标题">
                            </div>
                            <div class="form-group">
                                <label for="tool_title">通知类型</label>
                                <select class="form-control" id="tool_msg_type">
                                    <option value="normal">普通通知</option>
                                    <option value="urgent">紧急通知</option>
                                    <option value="spe_urgent">特别严重警告</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="tool_title">通知范围</label>
                                <select class="form-control" id="tool_msg_range">
                                    <option value="more">群体通知</option>
                                    <option value="one">单独通知</option>
                                </select>
                            </div>
                        </div>
                    </div>
                <button type="button" class="btn btn-danger btn-lg" id="btn_push">发布</button>
                <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    提交情况
                                </h4>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary"
                                        data-dismiss="modal">确认
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


            </div>
        </div>

        <div class="col-md-2">
            <div class="edit-tool" id="tool_bar_one" >
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">输入编号</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label >名称</label>
                            <input type="text" class="form-control popover-show" id="one_tractor_input"
                                   title="编号查询结果" data-container="body"
                                   data-placement="left"
                                   data-content="查询中"
                                   placeholder="请输入拖拉机编号"
                                   onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')"
                            >
                        </div>
                        <button type="button" class="btn btn-info" id="btn_one_tractor_find">查询</button>
                    </div>
                </div>
            </div>

            <div class="edit-tool" id="tool_bar_more">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">选择地区</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" >
                            <label >选择省份</label>
                            <select class="form-control" id="area_select_province">
                                <option value="all">全部区域</option>
                                <option value="test1"></option>
                            </select>
                        </div>

                        <div class="form-group" >
                            <label >选择市</label>
                            <select class="form-control" id="area_select_city">
                                <option value="all">全部区域</option>

                            </select>
                        </div>
                    </div>
                </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">选择厂家</h3>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label>生产商</label>
                                <select class="form-control" id="vendor_select_producer">
                                    <option value="all">全部生产商</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label >服务商</label>
                                <select class="form-control" id="vendor_select_servicer">
                                    <option value="all">全部服务商</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label >品牌</label>
                                <select class="form-control" id="vendor_select_brand">
                                    <option value="all">全部品牌</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label >设备类型</label>
                                <select class="form-control" id="vendor_select_model">
                                    <option value="all">全部设备</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label >设备编号</label>
                                <select class="form-control" id="vendor_select_tractor_num">
                                    <option value="all">全部个体</option>

                                </select>
                            </div>
                         </div>
                     </div>



            </div>
            <p id="msg"></p>

    </div>
</div>
</div>
<script>



    $(document).ready(function() {
        // 编辑器初始化
        $('.edit-area').summernote({
            lang : 'zh-CN',
            height: 500,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true,                  // set focus to editable area after initializing summernote
            toolbar: [
                ['tool', ['fullscreen','help','undo','redo']],
                ['fontsize', ['fontname','fontsize','color','bold', 'italic','underline', 'clear']],
                ['para', ['style','paragraph','height' ]],
                ['insert', ['hr', 'table','picture']]
            ]
        });
        // 删除第一个元素
        $('.note-editable p').remove();

        function update_msg(msg,content) {
            socket.emit('edit_msg_ok', {query_name:'insert_pdf_msg',msg:msg,html:content});
        }

       var socket = io.connect('/dashboard');
        socket.on('disconnect', function(data){
            //失去连接的事件
            console.log('断开连接');
        });
        socket.on('connect', function(data){
            //连接正常的事件
            console.log( '连接成功');
            socket.emit('login', {user_name:'kotlin',user_passwd:'guojin'});

            // socket.emit('msg_edit_page_querry', {query_name:'get_producer',query_arg_data:'null'});

        });

        socket.on('response', function(msg) {
            console.log(msg);
            switch (msg.cmdName){
                case 'login':
                    var data = msg.data;
                    console.log(data);
                    $("#login_msg").text('登陆'+data);
                    break;

                // 选择省份
                case 'get_province':
                    $('#area_select_province').empty();
                    $('#area_select_province').append("<option value='all'>全部区域</option>")
                    var data = msg.data;
                    console.log(data);
                    for (var i = 0;i< data.length;i++){
                        $('#area_select_province').append("<option value="+data[i]+">"+data[i]+"</option>")
                    }
                    break;
                // 选择市
                case 'get_city':
                    var data = msg.data;
                    console.log(data);
                    $('#area_select_city').empty();
                    $('#area_select_city').append("<option value='all'>全部区域</option>")

                    for (var i = 0;i< data.length;i++){
                        $('#area_select_city').append("<option value="+data[i]+">"+data[i]+"</option>")
                    }
                    break;


                case 'get_producer':
                    var data = msg.data;
                    console.log(data);
                    $('#vendor_select_producer').empty();
                    $('#vendor_select_producer').append("<option value='all'>全部生产商</option>")

                    for (var i = 0;i< data.length;i++){
                        $('#vendor_select_producer').append("<option value="+data[i]+">"+data[i]+"</option>")
                    }
                    break;

                case 'get_serviver':
                    var data = msg.data;
                    console.log(data);
                    $('#vendor_select_servicer').empty();
                    $('#vendor_select_servicer').append("<option value='all'>全部服务商</option>")

                    for (var i = 0;i< data.length;i++){
                        $('#vendor_select_servicer').append("<option value="+data[i]+">"+data[i]+"</option>")
                    }
                    break;

                case 'get_brand':
                    var data = msg.data;
                    console.log(data);
                    $('#vendor_select_brand').empty();
                    $('#vendor_select_brand').append("<option value='all'>全部品牌</option>")

                    for (var i = 0;i< data.length;i++){
                        $('#vendor_select_brand').append("<option value="+data[i]+">"+data[i]+"</option>")
                    }
                    break;

                case 'get_model':
                    var data = msg.data;
                    console.log(data);
                    $('#vendor_select_model').empty();
                    $('#vendor_select_model').append("<option value='all'>全部类型</option>")

                    for (var i = 0;i< data.length;i++){
                        $('#vendor_select_model').append("<option value="+data[i]+">"+data[i]+"</option>")
                    }
                    break;
                case 'get_num':
                    var data = msg.data;
                    console.log(data);
                    $('#vendor_select_tractor_num').empty();
                    $('#vendor_select_tractor_num').append("<option value='all'>全部编号</option>")

                    for (var i = 0;i< data.length;i++){
                        $('#vendor_select_tractor_num').append("<option value="+data[i]+">"+data[i]+"</option>")
                    }
                    break;
                case 'insert_pdf_msg':
                    var data = msg.data;
                    console.log(data);
                    if (data === 'ok'){
                        $('#myModalLabel').text('提交成功');
                        $('#myModal').modal('show')
                    }else if(data === 'error'){
                        $('#myModalLabel').text('提交失败');
                        $('#myModal').modal('show')
                    }
                    else {
                        $('#myModalLabel').text('提交失败,'+data);
                        $('#myModal').modal('show')
                    }
                    break;
                case 'find_num':
                    var data = msg.data;
                    console.log(data);
                    if (data === 'ok'){
                        $("#one_tractor_input").attr("data-content","查询成功");
                        $('.popover-show').popover('show');
                        setTimeout(function () {
                            $('.popover-show').popover('hide');
                        }, 1000);
                    }else{
                        $("#one_tractor_input").attr("data-content","查询失败");
                        $('.popover-show').popover('show');
                    }

                    break;
            }
        });

        // 上传数据点击
        $('#btn_push').click(function(){

            var title = $("#tool_title").val();
            if (title === ''){
                $('#myModalLabel').text('提交失败,标题没有填写')
                $('#myModal').modal('show')
                return
            }
            var tool_msg_type = $("#tool_msg_type").val();
            var area_select_province = $("#area_select_province").val();
            var area_select_city = $("#area_select_city").val();
            var vendor_select_producer = $("#vendor_select_producer").val();
            var vendor_select_servicer = $("#vendor_select_servicer").val();
            var vendor_select_brand = $("#vendor_select_brand").val();
            var vendor_select_model = $("#vendor_select_model").val();
            var vendor_select_tractor_num = $("#vendor_select_tractor_num").val();
            var select_one_tractor_num =  $("#one_tractor_input").val();

            var range = $("#tool_msg_range").val();
            var msg_to_one_tractor = 0;
            console.log(range)


            if (range === 'one'){
                 msg_to_one_tractor = 1;
                if (select_one_tractor_num === ''){
                    $('#myModalLabel').text('提交失败,拖拉机编号未填写')
                    $('#myModal').modal('show')
                    return
                }
            }else{
                select_one_tractor_num = 0;
                 msg_to_one_tractor = 0;

                // 当选择了设备编号的时候,就默认是单独广播了
                if (vendor_select_tractor_num !== 'all'){
                    select_one_tractor_num = vendor_select_tractor_num;
                    msg_to_one_tractor = 1;
                }
            }



            var msg = {title:title,msg_type:tool_msg_type,area_select_province:area_select_province,area_select_city:area_select_city,vendor_select_producer:vendor_select_producer,vendor_select_servicer:vendor_select_servicer,vendor_select_brand:vendor_select_brand,vendor_select_model:vendor_select_model,vendor_select_tractor_num:vendor_select_tractor_num,msg_to_one_tractor:msg_to_one_tractor,select_tractor_one_num:select_one_tractor_num};
            var doc_content = $('.edit-area').summernote('code');

            update_msg(msg,doc_content)
        });

        function get_select() {
            var area_select_province = $("#area_select_province").val();
            var area_select_city = $("#area_select_city").val();
            var vendor_select_producer = $("#vendor_select_producer").val();
            var vendor_select_servicer = $("#vendor_select_servicer").val();
            var vendor_select_brand = $("#vendor_select_brand").val();
            var vendor_select_model = $("#vendor_select_model").val();
            var msg = {area_select_province:area_select_province,area_select_city:area_select_city,vendor_select_producer:vendor_select_producer,vendor_select_servicer:vendor_select_servicer,vendor_select_brand:vendor_select_brand,vendor_select_model:vendor_select_model};
            return msg;
        }
        // 选择省份触发,就按照省份去筛选市
        $('#area_select_province').click(function(event){
            if (event.target.value === 'all'){
                socket.emit('msg_edit_page_querry', {query_name:'get_province',query_arg_data:'null'});
            }else{
                socket.emit('msg_edit_page_querry', {query_name:'get_city',query_arg_data:get_select()});
            }

        });
        // 选择市触发,就按照去筛选 生产商
        $('#area_select_city').click(function(event){
            if (event.target.value === 'all'){
                socket.emit('msg_edit_page_querry', {query_name:'get_city',query_arg_data:get_select()});
            }else{
                socket.emit('msg_edit_page_querry', {query_name:'get_producer',query_arg_data:get_select()});
            }

        });

        // 按照生产商触发
        $('#vendor_select_producer').click(function(event){
            if (event.target.value === 'all'){
                socket.emit('msg_edit_page_querry', {query_name:'get_producer',query_arg_data:get_select()});
            }else{
                socket.emit('msg_edit_page_querry', {query_name:'get_serviver',query_arg_data:get_select()});
            }
        });

        // 按照服务商触发
        $('#vendor_select_servicer').click(function(event){
            if (event.target.value === 'all'){
                socket.emit('msg_edit_page_querry', {query_name:'get_serviver',query_arg_data:get_select()});
            }else{
                socket.emit('msg_edit_page_querry', {query_name:'get_brand',query_arg_data:get_select()});
            }

        });

        // 品牌触发
        $('#vendor_select_brand').click(function(event){
            if (event.target.value === 'all'){
                socket.emit('msg_edit_page_querry', {query_name:'get_brand',query_arg_data:get_select()});
            }else{
                socket.emit('msg_edit_page_querry', {query_name:'get_model',query_arg_data:get_select()});
            }

        });

        // 设备类型触发
        $('#vendor_select_model').click(function(event){
            if (event.target.value === 'all'){
                socket.emit('msg_edit_page_querry', {query_name:'get_model',query_arg_data:get_select()});
            }else{
                socket.emit('msg_edit_page_querry', {query_name:'get_num',query_arg_data:get_select()});
            }

        });


        $('#tool_bar_one').hide();
        $('#tool_msg_range').change(function(event){
            var range = $("#tool_msg_range").val();
            if (range === 'one'){
                $('#tool_bar_one').show();
                $('#tool_bar_more').hide();
            }else{
                $('#tool_bar_one').hide();
                $('#tool_bar_more').show();
            }
        });

        // 单独查询
        $('#btn_one_tractor_find').click(function(event){
            var input_data = $('#one_tractor_input').val()
            socket.emit('msg_edit_page_querry', {query_name:'find_num',query_arg_data:input_data});
        });
    });
</script>
<!--编辑界面 end-->

</body>
</html>