<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 基本表单</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
</head>
<body>

<!--视频界面 start-->
<div class="container">
    <!--状态栏-->
    <div class="row">
        <div class="col-md-4">
            <button id="btn_login" type="button" class="btn btn-success">登陆</button>
            <h3> <span id="login_msg">等待数据</span></h3>
        </div>
        <div class="col-md-4">
            <button id="btn_push_data" type="button" class="btn btn-success">推送数据</button>
             <button id="btn_push_test" type="button" class="btn btn-success">创造</button>
            <input type="text" class="form-control" id="input_push_data">
            <h3> <span id="push_data_msg">等待数据</span></h3>
        </div>
    </div>

</div>

<script>
    $(document).ready(function(){

        var socket = io.connect('http://127.0.0.1:5000/dashboard');
        socket.on('disconnect', function(data){
            //失去连接的事件
            console.log('断开连接');
        });
        socket.on('connect', function(data){
            //连接正常的事件
            console.log( '连接成功');


        });
        socket.on('response', function(msg) {
            console.log(msg);
            switch (msg.cmdName){
                case 'login':
                    var data = msg.data;
                    console.log(data);
                    $("#login_msg").text('登陆'+data);
                    break;
                case 'push_data':
                    var data = msg.data;
                    console.log(data);
                    $("#push_data_msg").text('状态'+data);
                    break;
            }
        });


        $("#btn_login").click(function(){
            socket.emit('tractor_handle', {
                // 简介
                "abstract":
                        {
                        "senderType":"pusher",
                        "msgType":"post",
                        "cmdName":"tractor_login",
                        },
                // 数据
                "data":
                        {
                            "device_id":66,
                            "private_key":"117a036e-7d31-11e9-ba5e-b06ebfcfcfb5"
                        }
                    }
            );
            $("#login_msg").text('正在登陆')
        });


        $("#btn_push_data").click(function(){
            socket.emit('tractor_handle', {
                // 简介
                "abstract":
                        {
                        "senderType":"pusher",
                        "msgType":"post",
                        "cmdName":"set_work_path",
                        },
                // 数据
                "data":
                        {
                                                    "work_path_data": {
                            "work_path_data": {
                                "keep_out_data": [
                                    [103.95050406676488, 30.774861968675616, 2],
                                    [103.950464038662, 30.774002194644698, 2],
                                    [103.95132915359545, 30.773906462934335, 2],
                                    [103.95135401527693, 30.77415357724744, 2],
                                    [103.95073344479516, 30.774235652679995, 2],
                                    [103.95076111789018, 30.77481594808488, 2],
                                    [103.95054252775577, 30.774861594493053, 2]
                                ],
                                "obs_data": {
                                    "1": [
                                        [103.95070590622743, 30.773995677547042, 0],
                                        [103.95079082663516, 30.773983879931013, 0],
                                        [103.95077318329339, 30.774041490960713, 0],
                                        [103.95070915084528, 30.77402733125018, 0]
                                    ],
                                    "0": [
                                        [103.95050106126337, 30.774074637342217, 0],
                                        [103.950464038662, 30.774002194644698, 0],
                                        [103.95062819202012, 30.774027847951405, 0],
                                        [103.95058237062791, 30.77408033327775, 0],
                                        [103.95054379013824, 30.774083192084305, 0]
                                    ],
                                    "len": 2
                                },
                                "route_data": [
                                    [103.95053386408749, 30.77459217546976, 0],
                                    [103.95053087703107, 30.774166785045125, 0],
                                    [103.950659849564, 30.774065146344626, 0],
                                    [103.95081408606781, 30.774086325064825, 0],
                                    [103.95086908446152, 30.77401653053526, 0],
                                    [103.95107749575558, 30.773968143615303, 0],
                                    [103.95126462339576, 30.77396022552364, 0]
                                ]
                            },
                            "work_path_edit_time": "null",
                            "work_path_name": "GH",
                            "work_path_create_time": "2019-05-10 16:51:42",
                            "work_path_edit_state": "no"
                        },
                        "work_path_name": "GH"
                        }
                    }
            );
            $("#login_msg").text('正在登陆')
        });
    });
</script>
</body>
</html>