<!DOCTYPE html>
<html>
<head>
    <title>生产商信息界面</title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
{#        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">#}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    
    <script type="text/javascript" src="../static/js/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/producerMsgPage.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>


</head>
<body>
<div class="container">
    <form class="form-horizontal"  enctype='multipart/form-data' method='POST' >
        <fieldset>
            <div id="legend" class="">
                <legend class="">基础设置-厂商信息</legend>
            </div>
            <div class = "row">
                <div class="col-lg-4">
                    <div class="control-group">
            
                        <!-- Text input-->
                        <label class="control-label" for="input01">厂商名称</label>
                        <div class="controls">
                          <input id="name" type="text" placeholder="" class="input-xlarge">
                          <p class="help-block"></p>
                        </div>
                    </div>
                    <div class="control-group">
              
                        <!-- Text input-->
                        <label class="control-label" for="input01">厂商简介</label>
                        <div class="controls">
                          <input id="summary" type="text" placeholder="" class="input-xlarge">
                          <p class="help-block"></p>
                        </div>
                    </div>
              
                    <div class="control-group">
              
                        <!-- Text input-->
                        <label class="control-label" for="input01">详细地址</label>
                        <div class="controls">
                            <input id="address" type="text" placeholder="" class="input-xlarge">
                            <p class="help-block"></p>
                        </div>
                    </div>
              
                    <div class="control-group">
              
                        <!-- Text input-->
                        <label class="control-label" for="input01">品牌</label>
                        <div class="controls">
                            <input id="brand" type="text" placeholder="" class="input-xlarge">
                            <p class="help-block"></p>
                        </div>
                    </div>
              
                    <div class="control-group">
              
                        <!-- Text input-->
                        <label class="control-label" for="input01">邮编</label>
                        <div class="controls">
                            <input id="postNum" type="text" placeholder="" class="input-xlarge">
                            <p class="help-block"></p>
                        </div>
                    </div>
              
                    <div class="control-group">
              
                        <!-- Text input-->
                        <label class="control-label" for="input01">电话/传真</label>
                        <div class="controls">
                            <input id="telephone" type="text" placeholder="" class="input-xlarge">
                            <p class="help-block"></p>
                        </div>
                    </div>
              
                    <div class="control-group">
              
                        <!-- Text input-->
                        <label class="control-label" for="input01">营业执照号码</label>
                        <div class="controls">
                            <input id="license" type="text" placeholder="" class="input-xlarge">
                            <p class="help-block"></p>
                        </div>
                    </div>


            </div>

      

            <div class = "col-lg-5">
                <div class="row" style="width:202px;height:202px;border:1px solid red;margin-left:10px;">
                    <img id="producerPicture" alt="" src="../static/image/tractor.jpg" style="width:200px;height:200px;">
                </div> 
                <div class="row" style="margin-left:10px;margin-top:5px;">
                    <div class="col-md-2">'
                        <form action="" enctype='multipart/form-data' method='POST'>
                            <input type="file" id="producerPictureSelect" style="opacity:0; display: block; position: absolute;cursor: pointer;" 
                                value=""  onchange="producerPictureChange(this.id, 'producerPicture')">
                            <button id="producerUpload" type="button" class="btn btn-primary">上&nbsp;传</button>
                        </form>
                    </div>
                    <div class="col-md-2">
                            <button id="del" type="button" class=" col btn btn-primary" onclick="producerPictureDelele('producerPicture')">删&nbsp;除</button>
                    </div>

                </div>
            </div>
            </div>
        </fieldset>
            <!-- Button -->
            <div class="controls">
                <button id="dataSave" class="btn btn-success submit" onclick="producerSave()">保存</button>
            </div>
      </form>

</div>

</body>
</html>


