<!DOCTYPE html>
<html>
<head>
    <title>工程界面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"> 
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
{#    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">#}
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.13&key=30e7b4518b1ef0eeac71d55a0b0e2b26"></script>
    <script type="text/javascript" src="../static/js/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/mapPage.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron" id="dropdownFather">

        </div>
        <div id = "mapFather">
            <div id = "mapContainer" style="width: 100%; height: 800px; overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;">
            </div>
        </div>
    </div>

</body>
</html>
