<!DOCTYPE html>
<html>
<head>
    <title>工程界面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"> 
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.13&key=30e7b4518b1ef0eeac71d55a0b0e2b26"></script>
    <script type="text/javascript" src="../static/js/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/projectPage.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="projectManageTable">
            <div class="">
                <button id="projectTableRemoveBtn" class="btn btn-danger col-md-1">批量删除</button>
                <div class="col-md-1" style="float:right">
                    <button id="projectTableAddBtn" class="btn btn-secondary" >新增</button>
                </div>
            </div>
            <div class="row bootstrap-table">
                <div class="col-md-12">
                    <table
                            id="projectTable"
                            data-toggle="table"
                            data-pagination="true"
                            data-page-list="[5, 20, 50]"
                            data-page-size="5"
                            data-search="true"
                            data-search-align="left"
                            data-search-time-out="1000"
                            data-click-to-select="true"
                            data-maintain-selected="true"
                            data-toolbar="#toolbar2"
                            data-height="460"
                    >
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id" data-sortable="true">项目编号</th>
                                <th data-field="name" data-sortable="true">项目名称</th>
                                <th data-field="status" data-sortable="true">项目状态</th>
                                <th data-field="user" data-sortable="true">所属用户</th>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>  
        </div>
        <div id='projectTableEdit'>
                <form class="form-horizontal" id="projectEditForm">
                    <fieldset>
                        <div id="legend" class="">
                            <legend class="">项目编辑</legend>
                        </div>
        
                        <div class = "row">
                            <div class="col-lg-4">
                                <div class="control-group">
                        
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">编号</label>
                                    <div class="controls">
                                        <input id="projectID" name="projectID" type="text" placeholder="" class="input-xlarge" disabled="disabled">
                                        <p class="help-block"></p>
                                    </div>
    
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">项目名称</label>
                                    <div class="controls">
                                        <input id="projectName" name="projectName" type="text" placeholder="" class="input-xlarge">
                                        <p class="help-block"></p>
                                    </div>
    
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">项目状态</label>
                                    <div class="controls">
                                        <input id="projectStatus" name="projectStatus" type="text" placeholder="" class="input-xlarge">
                                        <p class="help-block"></p>
                                    </div>
    
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">所属用户</label>
                                    <div class="controls">
                                        <input id="projectUser" name="projectUser" type="text" placeholder="" class="input-xlarge">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                </form>
                <div class="row">
                    <div class="col-md-1">
                        <label class="control-label"></label>
            
                        <!-- Button -->
                        <div class="controls">
                            <button id="projectSave" type="submit" class="btn btn-success" onclick="projectMsgSave()">保存</button>
                        </div>
                    </div>
            
                    <div class="col-md-1">
                        <label class="control-label"></label>
            
                        <!-- Button -->
                        <div class="controls">
                            <button id="projectReturn" class="btn btn-success">返回</button>
                        </div>
                    </div>
                </div> 
        </div>   
    </div>
 

</body>
</html>
