<!DOCTYPE html>
<html>
<head>
    <title>場景界面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"> 
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.13&key=30e7b4518b1ef0eeac71d55a0b0e2b26"></script>
    <script type="text/javascript" src="../static/js/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/scenePage.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="scenarioManageTable">
            <div class="">
                <button id="scenarioTableRemoveBtn" class="btn btn-danger col-md-1">批量删除</button>
                <div class="col-md-1" style="float:right">
                    <button id="scenarioTableAddBtn" class="btn btn-secondary" >新增</button>
                </div>
            </div>
            <div class="row bootstrap-table">
                <div class="col-md-12">
                    <table
                            id="scenarioTable"
                            data-toggle="table"
                            data-pagination="true"
                            data-page-list="[5, 20, 50]"
                            data-page-size="5"
                            data-search="true"
                            data-search-align="left"
                            data-search-time-out="1000"
                            data-click-to-select="true"
                            data-maintain-selected="true"
                            data-toolbar="#toolbar2"
                            data-height="460"
                    >
                        <thead>
                            <tr>
                                <th data-field="state" data-checkbox="true"></th>
                                <th data-field="id" data-sortable="true">编号</th>
                                <th data-field="scenarioName" data-sortable="true">名称</th>
                                <th data-field="projectID" data-sortable="true">所属项目</th>
                                <th data-field="numberNode" data-sortable="true">节点数</th>
                                <th data-field="numberSimpleNode" data-sortable="true">简单节点</th>
                                <th data-field="numberComplexNode" data-sortable="true">复杂节点</th>
                                <th data-field="dynamicTopologyFile" data-sortable="true">运动文件</th>
                                <th data-field="scenarioStatus" data-sortable="true">场景状态</th>
                                <th data-field="scenarioType" data-sortable="true">场景类型</th>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>  
        </div>
        <div id='scenarioTableEdit'>
                <form class="form-horizontal" id="scenarioEditForm">
                    <fieldset>
                        <div id="legend" class="">
                            <legend class="">场景编辑</legend>
                        </div>
        
                        <div class = "row">
                            <div class="col-lg-4">
                                <div class="control-group">
                        
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">场景编号</label>
                                    <div class="controls">
                                        <input id="scenarioID" name="scenarioID" type="text" placeholder="" class="input-xlarge" disabled="disabled">
                                        <p class="help-block"></p>
                                    </div>
    
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">场景名称</label>
                                    <div class="controls">
                                        <input id="scenarioName" name="scenarioName" type="text" placeholder="" class="input-xlarge">
                                        <p class="help-block"></p>
                                    </div>
    
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">所属项目</label>
                                    <div class="controls">
                                        <input id="projectID" name="projectID" type="text" placeholder="" class="input-xlarge" disabled="disabled">
                                        <p class="help-block"></p>
                                    </div>
    
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">节点数</label>
                                    <div class="controls">
                                        <input id="numberNode" name="numberNode" type="text" placeholder="" class="input-xlarge"  disabled="disabled">
                                        <p class="help-block"></p>
                                    </div>
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">简单节点数</label>
                                    <div class="controls">
                                        <input id="numberSimpleNode" name="numberSimpleNode" type="text" placeholder="" class="input-xlarge" disabled="disabled">
                                        <p class="help-block"></p>
                                    </div>
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">复杂节点数</label>
                                    <div class="controls">
                                        <input id="numberComplexNode" name="numberComplexNode" type="text" placeholder="" class="input-xlarge" disabled="disabled">
                                        <p class="help-block"></p>
                                    </div>
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">运动文件</label>
                                    <div class="controls">
                                        <input id="dynamicTopologyFile" name="dynamicTopologyFile" type="text" placeholder="" class="input-xlarge"> 
                                        <p class="help-block"></p>
                                    </div>
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">场景状态</label>
                                    <div class="controls">
                                        <input id="scenarioStatus" name="scenarioStatus" type="text" placeholder="" class="input-xlarge">
                                        <p class="help-block"></p>
                                    </div>
                                    <!-- Text input-->
                                    <label class="control-label" for="input01">场景类型</label>
                                    <div class="controls">
                                        <input id="scenarioType" name="scenarioType" type="text" placeholder="" class="input-xlarge">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                            </div>
                    </fieldset>
                </form>
                <div class="row">
                    <div class="col-md-1">
                        <label class="control-label"></label>
            
                        <!-- Button -->
                        <div class="controls">
                            <button id="scenarioSave" type="submit" class="btn btn-success" onclick="scenarioMsgSave()">保存</button>
                        </div>
                    </div>
            
                    <div class="col-md-1">
                        <label class="control-label"></label>
            
                        <!-- Button -->
                        <div class="controls">
                            <button id="scenarioReturn" class="btn btn-success">返回</button>
                        </div>
                    </div>
                </div> 
        </div>   
    </div>
 

</body>
</html>
