<!DOCTYPE html>
<html>

<head>
    <title>仿真界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>


    <link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>

    <script type="text/javascript" src="../static/js/vue.min.js"></script>
    <script type="text/javascript" src="../static/js/simulationPage.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>

    <script src="https://cesiumjs.org/releases/1.51/Build/Cesium/Cesium.js"></script>
    <link href="https://cesiumjs.org/releases/1.51/Build/Cesium/Widgets/widgets.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <img src="../static/image/fuel.png" class="slide" id="weixing1">
        <button id="projectReturn" class="btn btn-success slide">返回</button>
        <canvas id="canvas" class="ui-droppable" width="846" height="17106" style="cursor: default;"></canvas>
        <!-- <div id="cesiumContainer" style="width: 1000px; height:600px"></div> -->
    </div>

    <script>
        // Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIyZjAzMTU0Mi0wZDBlLTQ0MGMtOTI5OC0xMzkzNGNjZGQwMzYiLCJpZCI6MTg1MjIsInNjb3BlcyI6WyJhc3IiLCJnYyJdLCJpYXQiOjE1NzM5ODA2MjR9.nngDp35Fzy5aEhequE8S-VSl38j2XDDO6t7L_PLjfDo';
        // var viewer = new Cesium.Viewer('cesiumContainer', {
        //     terrainProvider: Cesium.createWorldTerrain()
        // });
        // var entity = viewer.entities.add({
        //     position: Cesium.Cartesian3.fromDegrees(120.0, 30.0),
        //     ellipse: {
        //         semiMinorAxis: 2500.0,
        //         semiMajorAxis: 4000.0,
        //         material: Cesium.Color.BLUE.withAlpha(0.5)
        //     }
        // });
        // viewer.zoomTo(viewer.entities);
        // var ellipse = entity.ellipse;
    </script>
</body>

</html>